<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tag/research">Research</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tag/eng">Engineering</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}tag/life">Life</a></li>
    <!-- <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tag/music">Music</a></li> -->
    <!-- <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tag/books">Books</a></li> -->
    <!-- <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}tag/quotes">Quotes</a></li> -->
    <!-- <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tag/miscellaneous">Miscellaneous</a></li> -->
    <li class="nav-home" role="menuitem"><a href="https://aroraakshit.github.io/">About</a></li>
</ul>
